.hotel-card{
    display:flex;
    background-color:white;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:25px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    width:100%;
    min-height:200px;
}

.hotel-image{
    width:280px;
    height:200px;
    object-fit:cover;
}

.hotel-content{
    flex:1;
    padding:20px 24px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.hotel-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.hotel-top h1{
    font-size:22px;
    margin:0;
    font-weight:700;
    color:#111;
}

.hotel-top p{
    margin-top:6px;
    color:gray;
    font-size:15px;
}

.rating{
    background-color:#a000a0;
    color:white;
    padding:8px 12px;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
}

.amenities{
    display:flex;
    gap:14px;
    margin:14px 0;
    flex-wrap:wrap;
}

.amenities span{
    font-size:16px;
    color:#111;
}

.hotel-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hotel-bottom h2{
    font-size:26px;
    margin:0;
    font-weight:700;
    color:black;
}

.hotel-bottom button{
    background-color:#a000a0;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:12px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

.hotel-bottom button:hover{
    background-color:#870087;
}

a{
    text-decoration:none;
}

.hotels-container{
    width:85%;
    margin:auto;
    padding:30px;
}